body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.message {
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.8s;
  visibility: hidden;
}

.message.error {
  background-color: pink;
  border: 2px solid red;
  transition-timing-function: ease-in;
  visibility: visible;
}

.container {
  width: 400px;
}

.header {
  margin: 0px;
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.form-control {
  margin-right: 5px;
}

input {
  padding: 10px;
  border-radius: 5px;
}

button {
  border: 0;
  background-color: inherit;
  font-size: 1.1rem;
}

button:hover {
  cursor: pointer;
}

button:focus, input:focus {
  outline: none;
}

.tasks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;

}

.task-name {
  width: 100%;
  text-align: center;
}



#delete:hover, #cross:hover {
  cursor: pointer;
}

.material-icons:hover {
  cursor: pointer;
}

.cross {
  text-decoration: line-through;
}

.green {
  color: green;
}

@@media only screen and (max-width: 600px) {
  body {
    margin: 5px;
  }
}
